.sweet-loading {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
}
.loading span {
  background-color: var(--color-border) !important;
}

.inbox {
  border-radius: 2rem;
  margin: 1rem 1rem;
}
