.post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--color-card);
  border-radius: 0.8rem;
}

.post-form .form-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 2px solid var(--color-border);
}
.post-form .form-top img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.post-form .form-top input {
  border: 0;
  color: var(--color-primary);
  background: transparent;
  outline: none;
  width: 100%;
  margin-left: 10px;
  padding: 1rem;
}

.post-form .form-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.post-form .form-categories input {
  display: none;
}

.post-form .form-categories label:hover {
  color: var(--color-primary);
}
